:root {
    --marketColorPrimary: #D32F2F;
    --marketColorSecondary: #007bff;
    --marketColorThirty: #fff;
}


/* Style untuk navigasi bawah */
.fixed-bottom {
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1) !important;
    border-top: 1px solid var(--marketColorThirty) !important;
}

.fixed-bottom a {
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.fixed-bottom a:hover,
.fixed-bottom a:focus {
    color: var(--marketColorPrimary);

}

.fixed-bottom i {
    transition: color 0.3s ease;
}

.fixed-bottom a:hover i,
.fixed-bottom a:focus i {
    color: var(--marketColorPrimary);
}