.btn-warning {
    background-color: #ffc107 !important; /* Kuning lebih pekat */
    border-color: #ffc107 !important;
    color: #fff !important; /* Pastikan teks putih */
}

.btn-danger {
    background-color: #dc3545 !important; /* Merah lebih pekat */
    border-color: #dc3545 !important;
    color: #fff !important; /* Pastikan teks putih */
}
