:root {
    /* Warna utama */
    --marketColorPrimary: #D32F2F;
    /* Warna utama II*/
    --marketColorPrimaryII: #C62828;

    /* Warna sekunder */
    --marketColorSecondary: #007bff;
    /* Warna sekunder II*/
    --marketColorSecondaryII: #0056b3;

    /* Warna teks (putih) */
    --marketColorThirty: #fff;
}

.btn-secondary {
    background-color: var(--marketColorSecondary) !important;
    border-color: var(--marketColorSecondary) !important;
    color: var(--marketColorThirty) !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    /* Lebih gelap saat hover */
    background-color: var(--marketColorSecondaryII) !important;
    /* Warna teks tetap putih */
    color: var(--marketColorThirty) !important;
}

.btn-secondary:active {
    /* Lebih gelap lagi saat ditekan */
    background-color: var(--marketColorSecondaryII) !important;
    /* Teks tetap putih */
    color: var(--marketColorThirty);
}

.btn-custom {
    background-color: var(--marketColorPrimary);
    /* Pastikan teks berwarna putih */
    color: var(--marketColorThirty);
    /* Hapus border jika tidak diperlukan */
    border: none;
    /* Animasi lembut */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover,
.btn-custom:focus {
    /* Lebih gelap saat hover */
    background-color: #B71C1C !important;
    /* Warna teks tetap putih */
    color: var(--marketColorThirty) !important;
}

.btn-custom:active {
    /* Lebih gelap lagi saat ditekan */
    background-color: #A61B1B !important;
    /* Teks tetap putih */
    color: var(--marketColorThirty);
}