:root {
    /* Warna utama */
    --marketColorPrimary: #D32F2F;
    /* Warna utama II*/
    --marketColorPrimaryII: #C62828;

    --custom-primary-dark: #B71C1C;

    /* Warna sekunder */
    --marketColorSecondary: #007bff;
    /* Warna sekunder II*/
    --marketColorSecondaryII: #0056b3;

    /* Warna teks (putih) */
    --marketColorThirty: #fff;
}

.btn-secondary {
    background-color: var(--marketColorSecondary) !important;
    border-color: var(--marketColorSecondary) !important;
    color: var(--marketColorThirty) !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    /* Lebih gelap saat hover */
    background-color: var(--marketColorSecondaryII) !important;
    /* Warna teks tetap putih */
    color: var(--marketColorThirty) !important;
}

.btn-secondary:active {
    /* Lebih gelap lagi saat ditekan */
    background-color: var(--marketColorSecondaryII) !important;
    /* Teks tetap putih */
    color: var(--marketColorThirty);
}

.btn-custom {
    background-color: var(--marketColorPrimary);
    /* Pastikan teks berwarna putih */
    color: var(--marketColorThirty);
    /* Hapus border jika tidak diperlukan */
    border: none;
    /* Animasi lembut */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover,
.btn-custom:focus {
    /* Lebih gelap saat hover */
    background-color: #B71C1C !important;
    /* Warna teks tetap putih */
    color: var(--marketColorThirty) !important;
}

.btn-custom:active {
    /* Lebih gelap lagi saat ditekan */
    background-color: #A61B1B !important;
    /* Teks tetap putih */
    color: var(--marketColorThirty);
}



.bg-custom {
    background-color: var(--marketColorPrimary) !important;
}

.text-custom {
    color: var(--marketColorPrimary) !important;
}

.btn-custom {
    background-color: var(--marketColorPrimary);
    border-color: var(--marketColorPrimary);
    color: var(--marketColorThirty);
    transition: background-color 0.3s ease, color 0.3s ease;

}

.btn-custom:hover {
    background-color: var(--custom-primary-dark);
    border-color: var(--custom-primary-dark);
    color: white !important;
}

.list-group-item.active {
    background-color: var(--marketColorPrimary);
    border-color: var(--marketColorPrimary);
}

.list-group-item.active:hover {
    background-color: var(--custom-primary-dark);
    border-color: var(--custom-primary-dark);
    color: white;
}

.text-primary {
    color: var(--marketColorPrimary) !important;
}

.border-primary {
    border-color: var(--marketColorPrimary) !important;
}

.card-header {
    border-bottom: none;
}

/* Custom focus style untuk form inputs */
.form-control:focus {
    border-color: var(--marketColorPrimary);
    box-shadow: 0 0 0 0.2rem rgba(211, 47, 47, 0.25);
}