/* produk card & img konsisten */
.product-card {
    margin-bottom: 20px;
    /* Memberikan jarak antar card */
    display: flex;
    flex-direction: column;
    height: 100%;

    border: 1px solid #eeeeee;
    /* Border tipis dengan warna abu-abu */
    border-radius: 8px;
    /* Sudut membulat */
    transition: all 0.3s ease;
    /* Transisi halus saat hover */
}

.product-card:hover {
    border-color: #007bff;
    /* Warna border berubah saat hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Efek bayangan halus saat hover */
}

.product-card .card-body {
    flex-grow: 1;
}

.product-card .card-img-top {
    object-fit: cover;
    height: 200px;
    /* Sesuaikan dengan tinggi yang diinginkan */
}

.product-card .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Tombol Wishlist */
.wishlist-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #0d6efd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.wishlist-btn:hover {
    background-color: red;
    color: #fff;
}